{include file="header.html"}
<div style="padding: 10px;">
<table width="100%" cellspacing="0">
	<tr>
		<td valign="top" width="100%">
{box title="Sprawdź koszt połączenia"}
<h3>Sprawdź koszt połączenia...</h3>
<table cellpadding="3" align="center">
<form action="?m=voip&f=cost&id={$smarty.get.id}" method="post">
{if $err}
<tr><td colspan="2" align="center" style="color:#FF0000;">{$err}</td></tr>
{/if}
<tr><td>Na numer:</td><td><img src="modules/voip/img/sluchawka.png" alt="tel."><input type="text" name="tonr" value="{$tonr}">&nbsp;
</td></tr>
<tr><td colspan="2" align="center"><input id="button" type="submit" value="Sprawdź"></td></tr>
</form>
</table>
{/box}
</td>
</tr>
</table>
<div style="text-align: right; margin-right: 40px;">
	<a href="?m=voip">Powrót</a>
</div>
</div>
{include file="footer.html"}
