<div class="box">

	{box title="Konta SIP"}
		<table class="table-shadow" width="width: 100%" cellpadding="3">
			<tr class="darkest">
				<td width="1%" class="nobr text-center"><strong>Numer telefonu</strong></td>
				<td width="1%" class="nobr text-center"><strong>Wartość netto</strong></td>
				<td width="1%" class="nobr text-center"><strong>Abonament</strong></td>
				<!--<td width="1%" class="nobr text-center"><strong>{t}Accounting day:{/t}</strong></td>-->
				<!--<td width="1%" class="nobr text-center" colspan="4">Ustawienia</td>-->
			</tr>

			{foreach from=$assignments item=assignment}
			<tr class="dark">
				<td class="nobr text-right">
					<a title="Zmień ustawienia konta" href="?m=voip&f=settings&id={$assignment.id}">{$assignment.name}<img src="modules/voip/img/edit.png" title="Zmień ustawienia konta" alt="ustawienia"></a>
				</td>
				<td class="nobr text-right">{$assignment.value|money_format}</td>
				<td class="nobr text-right">{$assignment.subscription}</td>
				<!--<td class="nobr text-right">{$assignment.period} ({$assignment.at})</td>-->
			</tr>
			{foreachelse}
			<tr>
				<td align="center" width="100%" colspan="8">
					<p><strong>{t}You haven't got any assigned subscriptions.{/t}</strong></p>
				</td>
			</tr>
			{/foreach}
			
			<tr class="dark" style="background: #cccccc;">
				<td class="text-right"><strong>{t}Total:{/t}</strong></td>
				<td class="nobr text-right"><strong>{sum array=$assignments column="value" string_format=$LANGDEFS.$_language.money_format}</strong></td>
				<td class="nobr text-right"></td>
				<!--<td>&nbsp;</td>-->
			</tr>
			
		</table>

		<div id="panel">
			{if $fax} 
			| <a href="?m=voip&f=fax"><img src="modules/voip/img/fax.png">Wirtualny Fax</a>
			{/if} |
			<a href="?m=voip&f=cost&id={$assignment.id}"><img src="modules/voip/img/cennik.png">Sprawdź koszt połączenia</a> |
			<a href="?m=voip&f=addressbook"><img src="modules/voip/img/phone_book.png">Książka telefoniczna</a> |
		</div>
	{/box}
</div>