<script type="text/javascript" language="JavaScript" src="img/autoiframe.js"></script>
<script type="text/javascript" language="JavaScript" src="img/overlib.js"></script>
<script type="text/javascript" language="JavaScript" src="img/common.js"></script>
{include file="module:calendar_js.html"}
<div style="padding: 10px;">
{box title="Historia połączeń"}
<h3>Wyszukaj połączenia</h3>
<table style="width: 100%; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; margin-bottom: 10px;" cellpadding="3">

<FORM METHOD="POST" NAME="page" action="?m=voip">
	<TR class="DARK">
		<TD class="fall">
				Od: <img src="modules/voip/img/kalendarz.png" alt="dzien"><INPUT name="from" value="{$listdata.from}" onClick="cal5.popup();">&nbsp;
				Do: <img src="modules/voip/img/kalendarz.png" alt="dzien"><INPUT name="to" value="{$listdata.to}" onClick="cal6.popup();">&nbsp;
				Z numeru: <img src="modules/voip/img/sluchawka.png" alt="tel."><INPUT name="fnr" size="16" value="{$listdata.fnr}">&nbsp;
				Na numer: <img src="modules/voip/img/sluchawka.png" alt="tel."><INPUT name="tnr" size="16" value="{$listdata.tnr}">&nbsp;<br/>


Kierunek: &nbsp;<img src="modules/voip/img/sluchawka-strzalki.png" alt="tel.">
<select name="dir">
<option value="0">wszystkie</option>
<option value="1"{if $listdata.dir eq 1} selected="selected"{/if}>przychoodzące</option>
<option value="2"{if $listdata.dir eq 2} selected="selected"{/if}>wychodzące</option>
</select>&nbsp;

<select name="rategroups">
<option value="0">Wszystkie</option>
{html_options options=$rategroups selected=$listdata.rategroups}
</select>&nbsp;
Status: &nbsp;
<img src="modules/voip/img/sluchawki.png" alt="tel.">
<select name="stat">
<option value="0">wszystkie</option>
<option value="1"{if $listdata.stat eq 1} selected="selected"{/if}>odebrane</option>
<option value="2"{if $listdata.stat eq 2} selected="selected"{/if}>nieodebrane</option>
</select>&nbsp;
<img src="modules/voip/img/icon_csv.gif" alt="csv">
<LABEL><strong id="do_csv">Do CSV: <INPUT type="checkbox" name="csv" value="1"></LABEL>
&nbsp;
<input id="button" style="float: right;" type="submit" value="Szukaj"></td></tr>
</form>
</table>

<h4>Szczegóły połączeń</h4>

<table style="width: 100%;" cellpadding="3">
	<tr class="darkest">
		<td width="1%">ID</td>
		<td width="1%" align="left">Data i godzina połaczenia</td>
		<td width="1%" align="left">Z numeru</td>
		<td width="1%" align="left">Na numer</td>
		<td width="1%" align="left">Czas</td>
		<td width="1%" align="left">Stawka</td>
		<td width="1%" align="left">Opłata netto</td>
		<td width="1%" align="left">Opłata brutto</td>
		<td width="1%" align="left">Status</td>
		<td width="1%" align="left">Kierunek</td>
		<td width="1%" align="left">Odsłuchaj</td>
	</tr>
	{section name=c loop=$cdr}
{if $cdr[c].id}
	<tr class="dark">
		<td width="1%" class="nobr">{$cdr[c].id}</td>
		<td width="1%" align="left" class="nobr">{$cdr[c].calldate}</td>
		<td width="1%" align="left">{$cdr[c].src}</td>
		<td width="1%" align="left" class="nobr">{$cdr[c].dst}</td>
		<td width="1%" align="left">{$cdr[c].seconds|seconds_to_words}</td>
		<td width="1%" align="left">{$cdr[c].tmp_cost} zł</td>
		<td width="1%" align="left">{$cdr[c].cost} zł</td>
		<td width="1%" align="left">{$cdr[c].cost_br} zł</td>
		<td width="1%" align="left">{$cdr[c].disposition}</td>
		<td width="1%" align="left">{$cdr[c].rate|default:'[BRAK]'}</td>
		<td width="1%" align="left">{if $cdr[c].monitor}<a href="?m=voip&f=listen&id={$cdr[c].id}">{img src="audio_icon.gif" border="0"}</a><br><a href="?m=voip&f=delcdr&id={$cdr[c].id}">Usuń</a>{else}&nbsp;{/if}</td>
	</tr>{/if}
		{sectionelse}
	<tr>
		<td align="center" width="100%" colspan="11">
			<p>&nbsp;</p>
			<p><b>Brak połączeń w wybranym okresie</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
<tr class="dark">
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td align="right"><b>Razem:</b></td>
<td align="left">{$listdata.seconds|seconds_to_words}</td>
<td align="left">{$listdata.tmp_cost} zł</td>
<td align="left">{$listdata.cost} zł</td>
<td align="left">{$listdata.cost_br} zł</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>
<SCRIPT>
<!--
var cal5 = new calendar(document.forms['page'].elements['from']);
var cal6 = new calendar(document.forms['page'].elements['to']);
-->
		</SCRIPT>
{/box}
</div>