{if $isvoip}
{$xajax}
<TR CLASS="LIGHT">
	<TD WIDTH="1%" style="vertical-align: top">
		<IMG SRC="img/phone.gif" ALT="">
	</TD>
	<TD WIDTH="99%" COLSPAN="2">
	<TABLE width="100%">
	
<TR>
	<TD WIDTH="1%" NOWRAP>
		VOIP początek umowy
	</TD>
	<TD WIDTH="99%">
		<INPUT TYPE="TEXT" NAME="customerdata[voippoczatekum]" VALUE="{$customerinfo.voippoczatekum}" {tip trigger="voippoczatekum"} SIZE="10">
	</TD>
</TR>
<TR>
	<TD WIDTH="1%" NOWRAP>
		VOIP koniec umowy
	</TD>
	<TD WIDTH="99%">
		<INPUT TYPE="TEXT" NAME="customerdata[voipkoniecum]" VALUE="{$customerinfo.voipkoniecum}" {tip trigger="voipkoniecum"} SIZE="10">
	</TD>
</TR>
<TR>
	<TD WIDTH="1%" NOWRAP>
		VOIP dzień wystawienia faktury
	</TD>
	<TD WIDTH="99%">
		<INPUT TYPE="TEXT" NAME="customerdata[payday]" VALUE="{$customerinfo.payday|default:'1'}" SIZE="2">
	</TD>
</TR>
<TR>
	<TD WIDTH="1%" NOWRAP>
		Włącz wirtualną centralę PBX
	</TD>
	<TD WIDTH="99%">
		<SELECT name="customerdata[virtualpbx]">
		<option value="0"{if $customerinfo.virtualpbx eq 'f' || $customerinfo.virtualpbx eq '0'} selected="selected"{/if}>NIE</option>
		<option value="1"{if $customerinfo.virtualpbx eq 't' || $customerinfo.virtualpbx eq '1'} selected="selected"{/if}>TAK</option>
		</SELECT>
	</TD>
</TR>
<TR>
	<TD WIDTH="1%" NOWRAP>
		VOIP wystawiaj fakturę
	</TD>
	<TD WIDTH="99%">
		<SELECT name="customerdata[invoice]">
		<option value="1"{if $customerinfo.invoice eq 't' || $customerinfo.invoice eq '1'} selected="selected"{/if}>tak</option>
		<option value="0"{if $customerinfo.invoice eq 'f' || $customerinfo.invoice eq '0'} selected="selected"{/if}>nie</option>
		</SELECT>
	</TD>
</TR>
<TR>
	<TD WIDTH="1%" NOWRAP>
		Pozostało darmowych minut
	</TD>
	<TD WIDTH="99%">
		<INPUT TYPE="TEXT" NAME="customerdata[voipfreesec]" VALUE="{$customerinfo.voipfreesec}" SIZE="2">
	</TD>
</TR>
<TR>
	<TD WIDTH="1%" NOWRAP>
		Lokalizacja klienta
	</TD>
	<TD WIDTH="99%">
		województwo:<br>
		{html_options name="customerdata[woj]" options=$woj selected=$customerinfo.woj onchange="xajax_v_pow_mia(this.options[this.selectedIndex].value, 'pow', 'p');"}<br>
		powiat:<br>
		{html_options name="customerdata[pow]" options=$pow selected=$customerinfo.pow onchange="xajax_v_pow_mia(this.options[this.selectedIndex].value, 'mia', 'm');" id="pow"}<br>
		miasto/gmina:<br>
		{html_options name="customerdata[mia]" options=$mia selected=$customerinfo.mia id="mia"}
	</TD>
</TR>
</TABLE>
</TD>
</TR>
<INPUT TYPE="hidden" NAME="customerdata[isvoip]" VALUE="1">
{/if}
