{include file="header.html"}
<!--// $Id: //-->
<H1>{$layout.pagetitle}</H1>
{include file="calendar_js.html"}
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="100%">
			{include file="v_nodeaddbox.html"}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%">
			{include file="customer/customerinfobox.html"}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%">
			{include file="customer/customernodesbox.html"}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%">
			{include file="customer/customersipbox.html"}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%">
			{include file="customer/customerdocuments.html" limit=10}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%">
			{include file="customer/customergroups.html"}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%">
			{include file="customer/customerassignments.html"}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%">
			{include file="customer/customerbalancebox.html" limit=-10}
		</TD>
	</TR>
</TABLE>
{include file="footer.html"}
